<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Core Curriculum Table</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <h1><center><b> Status of {{coursecode}} in {{term}} {{year}}</b></center></h1>
</head>
<center>{{{coursedescription}}}</center>
</html>
